---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import {template} from "@/settings";

const ALL_PAPERS = publications;
const perPage = 4;       // 每頁顯示幾筆
const page = Number(Astro.url.searchParams.get("page") || 1);

const start = (page - 1) * perPage;
const end = start + perPage;

const pageItems = ALL_PAPERS.slice(start, end);
const totalPages = Math.ceil(ALL_PAPERS.length / perPage);
const pageParam = Astro.url.searchParams.get("page");

---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Publications</h1>

    <div class="space-y-8">
      {
        pageItems.map((paper) => (
          <div class="card bg-base-200">
            <div class="card-body">
              <h2 class="card-title text-xl">
                <a href={template.base + paper.link} class="hover:text-accent">
                  {paper.title}
                </a>
              </h2>
              <p class="text-base mb-2">
                <span class="font-medium">Authors:</span>{" "}
                <span set:html={highlightAuthor(paper.authors)} />
              </p>
              <p class="text-sm mb-3">
                <span class="italic">{paper.journal}</span> • {paper.time}
              </p>
              <p class="text-sm text-base-content/80">
               {paper.abstract || "No abstract available."}
              </p>
              <div class="card-actions justify-end mt-4">
                <a href={paper.link} class="btn btn-sm btn-secondary text-secondary-content">
                  Read Paper
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>

<div class="flex justify-center mt-8">
      <div class="join">
        {page > 1 && (
          <a href={`?page=${page - 1}`} class="join-item btn btn-sm">
            «
          </a>
        )}

        {
          Array.from({ length: totalPages }).map((_, i) => {
            const pageNumber = i + 1;
            return (
              <a
                href={`?page=${pageNumber}`}
                class={`join-item btn btn-sm ${pageNumber === page ? "btn-active" : ""}`}
              >
                {pageNumber}
              </a>
            );
          })
        }

        {page < totalPages && (
          <a href={`?page=${page + 1}`} class="join-item btn btn-sm">
            »
          </a>
        )}
      </div>
    </div>
  </div>
</Layout>
