---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, MyPicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    <p>Welcome to my website</p>
    <p>This is <span class='text-secondary'>{fullName}</span></p>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
<p class="text-lg mb-6 first-letter:text-5xl first-letter:font-bold first-letter:text-accent first-letter:float-left first-letter:mr-1 first-letter:leading-none">
  我研究富集鉻與鎳的超基性與蛇紋岩土壤，
  透過<strong>土壤形態學、礦物學、地球化學及磁學</strong>探討母岩、地形和氣候對成土作用和潛在有毒元素可及性的影響。
</p>
<p class="text-lg mb-6">
  同時，我也研究以岩石促進風化達成碳移除與永續農業的可能性。
</p>
<p class="text-lg mb-6">
   我的目標是建立一個連結土壤演化、礦物轉化、環境風險與永續生態的整合框架。
</p>
  <p class='text-base mb-6'></p>    
    Chia-Yu Yang is a researcher in soil science focusing on Cr- and Ni-rich ultramafic and serpentine soils. 
    She employs <strong>soil morphology, mineralogy, geochemistry, and magnetics</strong> to investigate the influence of parent material, topography, and climate on soil formation and the bioavailability of potentially toxic elements.
    She also explores enhanced rock weathering (ERW) as a pathway for carbon removal and sustainable agriculture. 
    Her goal is to build a unified framework linking soil evolution, mineral transformation, environmental risk, and sustainable ecology.
  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class="size-72 lg:block hidden">
  <Image
    src={MyPicture}
    alt={fullName}
    class="w-full h-full object-cover mask mask-circle"
  />
</div>