---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, MyPicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    <p>Welcome to my website</p>
    <p>This is <span class='text-secondary'>{fullName}</span></p>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-base mb-6' style="text-align: justify;">
    I am a researcher in soil science focusing on Cr- and Ni-rich ultramafic and serpentine soils. 
    I employ <strong>soil morphology, mineralogy, geochemistry, and magnetics</strong> to investigate the influence of parent material, topography, and climate on soil formation and the bioavailability of potentially toxic elements.
    I also explore enhanced rock weathering (ERW) as a pathway for carbon removal and sustainable agriculture. 
    My goal is to build a unified framework linking soil evolution, mineral transformation, environmental risk, and sustainable ecology.
  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class="size-72 lg:block hidden">
  <Image
    src={MyPicture}
    alt={fullName}
    class="w-full h-full object-cover mask mask-circle"
  />
</div>